<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SuperJump</string>
			<key>footerText</key>
			<string>Define the Jump Height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.sharedroutine.mcpe.superjump</string>
			<key>key</key>
			<string>kSuperJump</string>
			<key>min</key>
			<real>0.42</real>
			<key>max</key>
			<real>5.0</real>
			<key>showValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
